//colors for background
$bg-white:#fff;
$bg-black:#333;
$bg-primary:#377DFF;
$bg-danger:#ff7979;
$bg-success:#2fbe6d;
$bg-table: #F7F7F7;
$bg-basic: #C4C4C4;
$bg-grey: #6B6B6B;
$bg-light-blue: #E5F1FF;
$bg-orange:#fa741f;
$bg-orange-light:#f3b229;
//colors for text
$text-white:#fff;
$text-black:#333;
$text-primary:#377DFF;
$text-danger:#ff7979;
$text-success:#2fbe6d;
$text-grey: #6B6B6B;
$text-basic: #C4C4C4;
$text-orange:#fa741f;
$text-orange-light:#f3b229;
//colors for borders (may include alpha)
$border-light: rgba(0, 0, 0, 0.05);
$border-basic: #C4C4C4;
$border-white: #fff;
$border-primary:#377DFF;
$border-danger:#ff7979;
$border-success:#2fbe6d;
$border-grey: #6B6B6B;
$border-table: #F7F7F7;
$border-orange:#fa741f;
$border-orange-light:#f3b229;